<div class="individual_post twitter_post">
  <div class="network_logo">
    <%= image_tag("Twitter_logo_blue.png", :class => "provider_logo") %>
  </div>
  <div class="post_main">
    <div class="post_header">
      <ul>
        <li>
          <%= link_to image_tag(post.profile_picture, :class => "user_profile_picture"), post.user_url, :target => "_blank" %>
        </li>
        <li><%= link_to post.user_name, post.user_url, :target => "_blank" %></li>
        <li>@<%= post.screen_name %></li>
        <li><%= time_ago_in_words(post.created_time) %> ago</li>
      </ul>
    </div>
    <div class="post_content">
      <ul>
        <li><%= post.tweet_text %></li>
        <% if post.tweet_image.present? %>
          <li><%= image_tag(post.tweet_image) %></li>
        <% end %>
      </ul>
      <div class="post_stats">
        <ul>
          <li>Retweets: <%= post.retweet_count %></li>
          <li>Favorites: <%= post.favorite_count %></li>
          <li>
            <%= link_to "View on Twitter", post.link_to_tweet, :target => "_blank" %>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>