<% unless @feed_presenter.unauthed_accounts.empty? %>
  <%= render partial: "unauthed_accounts", locals: {unauthed_accounts: @feed_presenter.unauthed_accounts} %>
<% end %>
<% if @feed_presenter.timeline.present? %>
  <% @feed_presenter.timeline.each do |post| %>
    <% if post.provider == "twitter" %>
      <%= render partial: "twitter_post", locals: {post: post} %>
    <% elsif post.provider == "instagram" %>
      <%= render partial: "instagram_post", locals: {post: post} %>
    <% elsif post.provider == "facebook" %>
      <%= render partial: "facebook_post", locals: {post: post, facebook_profile_pictures: @feed_presenter.facebook_profile_pictures} %>
    <% end %>
  <% end %>
  <div class="load_posts_link">
    <%= link_to "Load more posts", load_more_url, id: "load-more" %>
  </div>
<% elsif @feed_presenter.timeline.blank? && @feed_presenter.unauthed_accounts.empty? %>
  <div id="empty_feed_container">
    <p>
      Click one of the below links or visit "Account Settings" to link an account and get started.
    </p>
    <%= render partial: "link_networks" %>
  </div>
<% end %>