<div id="feed_content">
  <aside>
    <ul id="secondary_nav">
      <li><%= link_to "Create Post", "#" %></li>
      <li><%= link_to "Toggle Facebook", "#" %></li>
      <li><%= link_to "Toggle Twitter", "#" %></li>
      <li><%= link_to "Toggle Instagram", "#" %></li>
    </ul>
  </aside>
  <div id="feed_container">
    <div class="loading_message">
      <%= image_tag "ajax-loader.gif" %>
      <p class="loading_text">Loading...</p>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(function () {
    FeedIndex.initialize();
  });
</script>