<% require './lib/time_formatter' %>
<div id="feed_container">
  <h1>My Feed</h1>

  <div id="post_container">
    <% @timeline.each do |tweet| %>
      <div id="individual_post">
        <div id="network_logo">
          <img id="twitter_stream_logo" src="<%= asset_url("Twitter_logo_blue.png") %>">
        </div>
        <div id="post_main">
          <div id="post_header">
            <img id="user_profile_picture" src="<%= tweet.user.profile_image_url_https %>">
            <ul>
              <li><a href="<%= tweet.user.url %>"><%= tweet.user.name %></a></li>
              <li>@<%= tweet.user.screen_name %></li>
              <li><%= TimeFormatter.new(tweet.created_at).format %></li>
            </ul>
          </div>
          <div id="post_content">
            <p><%= tweet.text %></p>

            <div id="post_stats">
              <ul>
                <li>Retweets: <%= tweet.retweet_count %></li>
                <li>Favorites: <%= tweet.favorite_count %></li>
                <li>
                  <a href="https://twitter.com/<%= tweet.user.screen_name %>/status/<%= tweet.id %>">View on Twitter</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>