<div id="feed_content">
  <aside>
    <ul id="secondary_nav">
      <li><%= link_to "Create Post", new_post_path, :class => "create_post_link" %></li>
      <li><a href="#" id="facebook_toggle">Toggle Facebook</a></li>
      <li><a href="#" id="twitter_toggle">Toggle Twitter</a></li>
      <li><a href="#" id="instagram_toggle">Toggle Instagram</a></li>
    </ul>
  </aside>
  <div id="feed_container">
  </div>
  <div class="loading_message">
    <%= image_tag "ajax-loader.gif" %>
    <p class="loading_text">Loading...</p>
  </div>
</div>
<script type="text/javascript">
  $(document).ready(function () {
    var feedIndex = new FeedIndex(document);
    feedIndex.providers = {facebook: <%= @providers.facebook? %>, twitter: <%= @providers.twitter? %>, instagram: <%= @providers.instagram? %>};
    feedIndex.images = {
      facebook: "<%= image_path("FB-f-Logo__blue_50.png") %>",
      twitter: "<%= image_path("Twitter_logo_blue.png") %>"
    };
    feedIndex.initialize();
  });
</script>