<div class="individual_post">
  <div class="network_logo">
    <img class="provider_logo" src="<%= asset_url("Twitter_logo_blue.png") %>">
  </div>
  <div class="post_main">
    <div class="post_header">
      <ul>
        <li>
          <a href="<%= post["user_url"] %>" target="_blank"><img class="user_profile_picture" src="<%= post["profile_picture"] %>"></a>
        </li>
        <li><a href="<%= post["user_url"] %>" target="_blank"><%= post["user_name"] %></a></li>
        <li>@<%= post["screen_name"] %></li>
        <li><%= time_ago_in_words(post["created_time"]) %> ago</li>
      </ul>
    </div>
    <div class="post_content">
      <ul>
        <li><%= post["tweet_text"] %></li>
        <% if post["tweet_image"].present? %>
          <li><img src="<%= post["tweet_image"] %>"/></li>
        <% end %>
      </ul>
      <div class="post_stats">
        <ul>
          <li>Retweets: <%= post["retweet_count"] %></li>
          <li>Favorites: <%= post["favorite_count"] %></li>
          <li>
            <a href="<%= post["link_to_tweet"] %>" target="_blank">View on Twitter</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>