<div id="feed_container">
  <% unless @unauthed_accounts.empty? %>
    <div class="unauthed_accounts">
      <h4>
        The access tokens for the following accounts have expired. Please click the below links to reauthorize the
        accounts.
      </h4>
      <ul>
        <% @unauthed_accounts.each do |account| %>
          <li>
            <%= account.provider.capitalize %>: <%= link_to "Click here to reauthorize", "/auth/#{account.provider}" %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @timeline.present? %>
    <% @timeline.each do |post| %>
      <% if post["provider"] == "twitter" %>
        <%= render partial: "welcome/twitter_post", locals: {post: post} %>
      <% elsif post["provider"] == "instagram" %>
        <%= render partial: "welcome/instagram_post", locals: {post: post} %>
      <% elsif post["provider"] == "facebook" %>
        <%= render partial: "welcome/facebook_post", locals: {post: post, poster_recipient_profile_hash: @poster_recipient_profile_hash, commenter_profile_hash: @commenter_profile_hash} %>
      <% end %>
    <% end %>
  <% elsif @timeline.blank? && @unauthed_accounts.empty? %>
    <div id="empty_feed_container">
      <p id="empty_feed">
        Click one of the below links or visit "Account Settings" to link an account and get started.
      </p>

      <div class="network_container">
        <div class="network_login">
          <%= link_to "Link Twitter", "/auth/twitter" %>
          <br>
          <%= link_to image_tag("Twitter_logo_blue.png"), "/auth/twitter", :id => "twitter_login_link" %>
        </div>
      </div>
      <div class="network_container">
        <div class="network_login">
          <%= link_to "Link Facebook", "/auth/facebook" %>
          <br>
          <%= link_to image_tag("FB-f-Logo__blue_50.png"), "/auth/facebook", :id => "facebook_login_link" %>
        </div>
      </div>
      <div class="network_container">
        <div class="network_login">
          <%= link_to "Link Instagram", "/auth/instagram" %>
          <br>
          <%= link_to image_tag("Instagram_Icon_Large.png"), "/auth/instagram", :id => "instagram_login_link" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
