<div id="feed_container">
  <% unless @unauthed_accounts.empty? %>
    <div class="unauthed_accounts">
      <h4>The access tokens for the following accounts have expired. Please click the below links to reauthorize the
        accounts.</h4>
      <ul>
        <% @unauthed_accounts.each do |account| %>
          <li><%= account.provider.capitalize %>: <a href="/auth/<%= account.provider %>">Click here to reauthorize</a>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <% if @timeline.present? %>
    <% @timeline.each do |post| %>
      <% if post["provider"] == "twitter" %>
        <%= render partial: "welcome/twitter_post", locals: {post: post} %>
      <% elsif post["provider"] == "instagram" %>
        <%= render partial: "welcome/instagram_post", locals: {post: post} %>
      <% elsif post["provider"] == "facebook" %>
        <%= render partial: "welcome/facebook_post", locals: {post: post} %>
      <% end %>
    <% end %>
  <% elsif @timeline.blank? && @unauthed_accounts.empty? %>
  <div id="empty_feed_container">
    <p id="empty_feed">Click one of the below links or visit "Account Settings" to link an account and get
      started.</p>

    <div class="network_container">
      <div class="network_login">
        <a href="/auth/twitter">Link Twitter</a><br>
        <a href="/auth/twitter" id="twitter_login_link"><img src="<%= asset_url("Twitter_logo_blue.png") %>"></a>
      </div>
    </div>
    <div class="network_container">
      <div class="network_login">
        <a href="/auth/facebook">Link Facebook</a><br>
        <a href="/auth/facebook" id="facebook_login_link"><img src="<%= asset_url("FB-f-Logo__blue_50.png") %>"></a>
      </div>
    </div>
    <div class="network_container">
      <div class="network_login">
        <a href="/auth/instagram">Link Instagram</a><br>
        <a href="/auth/instagram" id="instagram_login_link"><img src="<%= asset_url("Instagram_Icon_Large.png") %>"></a>
      </div>
    </div>
  </div>
  <% end %>
</div>
