<div id="accounts_container">
  <p id="auth_failure"><%= flash[:auth_failure] %></p>
  <div id="twitter_login_container">
    <div id="twitter_login">
      <a href="/auth/twitter"><h3>Link Twitter</h3></a>
      <a href="/auth/twitter" id="twitter_login_link"><img src="<%= asset_url("Twitter_logo_blue.png") %>"></a>
    </div>
  </div>
  <div id="facebook_login_container">
    <div id="facebook_login">
      <a href="/auth/facebook"><h3>Link Facebook</h3></a>
      <a href="/auth/facebook" id="facebook_login_link"><img src="<%= asset_url("FB-f-Logo__blue_50.png") %>"></a>
    </div>
  </div>
</div>
<div id="feed_container">
  <% if current_user_has_provider?('twitter') %>
    <%= render partial: 'feed_items', locals: {timeline: twitter_timeline} %>
  <% else %>
    <%= render partial: 'feed_items', locals: {timeline: nil} %>
  <% end %>
</div>