<div id="homepage_content">
  <p class="login_failure"><%= flash[:login_failure] %></p>
  <% if @user.errors.present? %>
    <% @user.errors.full_messages.each do |message| %>
      <p class="login_failure"><%= message %></p>
    <% end %>
  <% end %>
  <div id="onefeed_registration_container">
    <div id="onefeed_registration">
      <div id="registration_header_container">
        <h3>Sign Up with OneFeed</h3>
      </div>
      <%= form_for @user, :url => {:controller => "registrations", :action => "create"} do |f| %>
        <%= f.label :first_name %>
        <%= f.text_field :first_name %>

        <%= f.label :last_name %>
        <%= f.text_field :last_name %>

        <%= f.label :email %>
        <%= f.email_field :email %>

        <%= f.label :password %>
        <%= f.password_field :password %>

        <div class="homepage_form_button">
          <%= f.submit "Sign Up" %>
        </div>
      <% end %>
    </div>
  </div>
  <div id="site_description_container">
    <div id="image_container">
    </div>
    <div id="site_description">
      <h1 id="description_header">OneFeed.</h1>

      <div id="description_paragraph">
        <p>All of your</p>

        <p>social media,</p>

        <p>in one place.</p>
      </div>
    </div>
  </div>
</div>