<div id="reset_password_container">
  <p class="centered_text failure"><%= flash[:passwords_dont_match] %></p>

  <%= form_for @user, url: "/passwords", method: :put do |f| %>
    <%= f.hidden_field :id, value: @message[0] %>
    <%= f.hidden_field :token_expiration, value: @message[1] %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.label :password_confirmation %>
    <%= f.password_field :password_confirmation %>
    <%= f.submit "Update Password", :id => "update_password_button" %>
  <% end %>
</div>