<div class="individual_post twitter_post">
  <div class="network_logo">
    <img src="<%= images.twitter %>" class="provider_logo"/>
  </div>
  <div class="post_main">
    <div class="post_header">
      <ul>
        <li>
          <a href="<%= "https://twitter.com/" + tweet.user.screen_name %>" target="_blank">
            <img src="<%= tweet.user.profile_image_url_https %>" class="user_profile_picture">
          </a>
        </li>
        <li><a href="<%= "https://twitter.com/" + tweet.user.screen_name %>" target="_blank"><%= tweet.user.name %></a></li>
        <li>@<%= tweet.user.screen_name %></li>
        <li><abbr class="timeago" title="<%= tweet.created_at %>"><%= tweet.created_at %></abbr></li>
      </ul>
    </div>
    <div class="post_content">
      <ul>
        <li><%= tweet.text %></li>
      </ul>
      <div class="post_stats">
        <ul>
          <li data-twitter-retweet-count>
            <a href="<%= "/twitter/retweet/" + tweet.id %>">Retweet:</a> <span class="js-twitter-retweet-count"><%= tweet.retweet_count %></span>
          </li>
          <li data-twitter-favorite-count="<%= tweet.id %>">
            <a href="<%= "/twitter/favorite/" + tweet.id %>">Favorite:</a> <span class="js-twitter-favorite-count"><%= tweet.favorite_count %></span>
          </li>
          <li>
            <a href="<%= "https://twitter.com/" + tweet.user.screen_name + "/status/" + tweet.id %>" target="_blank">View on Twitter</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>