<!DOCTYPE html>
<html>
<head>
  <title>OneFeed</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<header>
  <div class="header_content">
    <div id="logo_container">
      <a href="/"><img id="logo" src="<%= asset_url("one_feed_logo_white.png") %>" alt="OneFeed Logo"></a>
    </div>
    <% if logged_in? %>
      <nav id="logged_in">
        <div id="menu_button_container">
          <ul>
            <li id="menu_button">Menu</li>
            <li class="mobile_menu"><%= link_to "Account Settings", account_path(session[:user_id]) %></li>
            <li class="mobile_menu"><%= link_to "Sign Out", "/destroy" %></li>
          </ul>
        </div>
      </nav>
    <% else %>
      <nav id="onefeed_login">
        <ul>
          <%= form_for @user, :url => {:controller => "sessions", :action => "create"} do |f| %>
            <li>
              <%= f.label :email %>
              <div class="login_form_fields">
                <%= f.email_field :email, :autofocus => true %>
              </div>
            </li>
            <li>
              <%= f.label :password %>
              <div class="login_form_fields">
                <%= f.password_field :password %>
              </div>
            </li>
            <li>
              <div class="homepage_form_button"><%= f.submit "Sign In" %></div>
            </li>
          <% end %>
        </ul>
      </nav>
    <% end %>
  </div>
</header>
<script>
  $(document).ready(function () {
    Layout.initialize();
  });
</script>
<div class="content_container">
  <%= yield %>
</div>
<footer>
  <%= link_to "Privacy Policy", "/privacy-policy" %>
</footer>
</body>
</html>
