<!DOCTYPE html>
<html>
<head>
  <title>OneFeed</title>
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,600' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lora' rel='stylesheet' type='text/css'>
  <meta name="viewport" content="width=device-width,initial-scale=1.0">
  <%= favicon_link_tag 'favicon.ico' %>
</head>
<body>
<header>
  <div class="header_content">
    <div id="logo_container">
      <a href="/"><img id="logo" src="<%= asset_url("one_feed_logo_white.png") %>" alt="OneFeed Logo"></a>
    </div>
    <% if logged_in? %>
      <%= render partial: "layouts/logged_in_navbar" %>
    <% else %>
      <%= render partial: "layouts/login_navbar" %>
    <% end %>
  </div>
</header>
<script>
  $(document).ready(function () {
    var layout = new Layout;
    layout.initialize();
  });
</script>
<div class="content_container">
  <%= yield %>
</div>
<footer>
  <%= link_to "Privacy Policy", "/privacy-policy" %>
</footer>
</body>
</html>
